@font-face {
    font-family: "RobotoFont";
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "RobotoFont";
    src: url('../assets/fonts/roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "RobotoFont";
    src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

.roboto {
    font-family: "RobotoFont" !important;
}

@font-face {
    font-family: "PoppinsFont";
    src: url('../assets/fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "PoppinsFont";
    src: url('../assets/fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "PoppinsFont";
    src: url('../assets/fonts/poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

.poppins {
    font-family: "PoppinsFont";
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf");
    font-weight: 800;
}

.quicksand {
    font-family: "QuicksandFont";
}

@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/lexend/Lexend-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/lexend/Lexend-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/lexend/Lexend-SemiBold.ttf");
    font-weight: 600;
}

.lexend {
    font-family: "Lexend";
}

.text-15 {
    font-size: 15px;
}